html
	head
		link(rel='stylesheet', href='/stylesheets/20180724/pinit.css')
		link(link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
		integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous")
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons',
		rel='stylesheet')
	body
		.pin-it-button.flex.align-center Pin it
		.nav-field.flex
			.logo-grid
				i.far.fa-square
				| DashboardApp
			.subject-search-grid.flex.flex-1.align-center
				.subject-cell.flex-1 Kalganov Anton
				.search-cell.flex.align-center
					i.material-icons search
					input(type='search' placeholder='Search')
				.menu-icon-cell
					//i.material-icons menu
					i.fas.fa-bars

		.overall-card-zone

			.people-field
				.people-grid
					.photo-cell.flex.align-center
						.photo
					.name-cell Greg Martin
					.explanation-cell Designer, illustrator, and photographer living in Portland, Oregon
					.division-line
					.icons
						i.far.fa-envelope
						i.fab.fa-facebook-f
						i.fab.fa-instagram
						i.far.fa-comments
						i.fas.fa-globe-americas
				.people-grid.anton
					.photo-cell.flex.align-center
						.photo.anton
					.name-cell Anton Kalganov
					.explanation-cell Designer, musician, creative person, living in Kharkiv, Ukraine
					.division-line
					.icons
						i.far.fa-envelope
						i.fab.fa-facebook-f
						i.fab.fa-instagram
						i.far.fa-comments
						i.fas.fa-globe-americas
				.people-grid.jan
					.photo-cell.flex.align-center
						.photo.jan
					.name-cell Jan Jelinek
					.explanation-cell Designer, illustrator, and photographer living in Portland, Oregon
					.division-line
					.icons
						i.far.fa-envelope
						i.fab.fa-facebook-f
						i.fab.fa-instagram
						i.far.fa-comments
						i.fas.fa-globe-americas

			.card-grid-field
				.three-card-grid
					.two-card-grid
						.wide-card-cell
							.background-cell.wide-card-cell
							.triangle-cell
							.content-cell
								.title.right-side-div GOLDEN FIELD
								.text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
								.icons
									i.far.fa-heart
									i.fab.fa-dropbox
									i.fab.fa-google-drive
						.wide-card-cell
							.background-cell.wide-card-cell.bottom
							.cover-cell.flex.align-center
								.title AUTUMN GORGE
								.button.play.flex.align-center
									i.fas.fa-play
					.slim-card-cell
						.background-cell.slim-card-cell
						.triangle-cell.bottom-side-div
						.content-cell
							.title.bottom-side-div HIGH ROAD
							.text.bottom-side-div It has survived not only five centuries, but also the leap into electronic typeset-ting,remaining essentially unchanged.
							.icons
								i.far.fa-heart
								i.fab.fa-dropbox
								i.fab.fa-google-drive
				.widest-card-cell
					.background-cell.widest-card-cell
					.cover-cell
						.title.whole-side-div DJRASHAD-DRANK,KUSH,BARZ
						.music-cell
							.button.pause.flex.align-center
								i.fas.fa-pause
							.soundwave
