@import url("https://fonts.googleapis.com/css?family=Hind+Madurai:400,500,700|Roboto:400,500,700");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  border-radius: 10px;
  display: flex;
  font-family: Hind Madurai, sans-serif; }

.menu-bar-zone {
  width: 130px;
  min-width: 130px;
  height: 100%; }

.main-body-zone {
  height: 100%;
  flex-flow: wrap; }

.logo-field {
  width: 100%;
  height: 130px;
  background: #2ABFBD;
  cursor: pointer; }
  .logo-field .logo {
    width: 80px;
    height: 60px;
    background: url("/images/velo.JPG");
    background-size: cover;
    background-position: center; }

.menu-field {
  width: 100%;
  height: calc(100% - 130px - 200px);
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-spaces;
  background: #121920;
  padding: 20px; }
  .menu-field::-webkit-scrollbar {
    width: 0; }
  .menu-field.bottom {
    height: 200px; }
  .menu-field .icons {
    width: 100%;
    height: 90px;
    cursor: pointer;
    line-height: 130px;
    text-align: center; }
    .menu-field .icons i {
      font-size: 30px;
      color: #262E31;
      transition: color .3s; }
    .menu-field .icons:hover i {
      color: #2ABFBD; }

.nav-field {
  width: 100%;
  height: 130px;
  background: white; }

.destination-field {
  width: 100%;
  height: 230px; }

.sights-travellers-field {
  width: 100%;
  min-height: calc(100% - 130px - 230px);
  height: fit-content;
  display: block;
  overflow: hidden; }

.input-grid {
  align-items: center;
  padding: 50px; }

.profile-grid {
  width: 300px;
  height: 100%;
  color: #DEDFDF;
  font-size: 18px;
  transition: color .4s;
  cursor: pointer; }
  .profile-grid i {
    font-size: 20px;
    transition: color .4s; }
    .profile-grid i:hover {
      color: #D9352A; }

.destination-photo-grid {
  width: 100%;
  height: 100%;
  display: block;
  flex-flow: nowrap;
  background: url("/images/petersburg.jpg");
  background-position: center;
  background-size: cover; }

.sights-grid {
  display: inline-block;
  height: calc(100vh - 230px - 130px);
  background: #EEEEEE;
  overflow: hidden; }
  .sights-grid::-webkit-scrollbar {
    width: 0; }

.travellers-grid {
  position: relative;
  display: inline-block;
  width: 0;
  height: calc(100vh - 230px - 130px);
  background: white;
  overflow: hidden;
  transition: width .4s; }
  .travellers-grid[type='out'] {
    width: 300px; }

.input-part {
  width: fit-content;
  height: fit-content;
  border-bottom: 2px solid #DEDFDF;
  color: lightgray;
  transition: border-bottom-color .3s, color .3s; }
  .input-part input {
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    padding: 10px; }
    .input-part input::placeholder {
      color: lightgray;
      font-size: 15px;
      font-weight: bold; }
  .input-part:hover {
    color: #2ABFBD;
    border-bottom: 2px solid #2ABFBD; }

.profile-photo-part {
  width: 50px;
  height: 50px; }
  .profile-photo-part .profile-photo {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url("/images/anthony.jpg");
    background-size: cover; }

.name-part {
  color: lightgray;
  font-weight: bold;
  margin: 10px;
  transition: color .3s; }
  .name-part:hover {
    color: #2ABFBD; }

.destination-cover-part {
  height: 100%;
  background: rgba(10, 10, 10, 0.6);
  position: relative; }

.flight-information-part {
  width: 150px;
  height: 100%;
  background: rgba(184, 188, 94, 0.8);
  flex-flow: column;
  color: white; }
  .flight-information-part.price {
    background: rgba(47, 214, 180, 0.8); }
  .flight-information-part i {
    margin: 20px;
    font-size: 30px; }

.sights-menu-part {
  height: 100px;
  padding: 25.75px;
  font-size: 20px;
  color: lightgray; }
  .sights-menu-part .bar {
    height: 70%;
    border-left: 2px solid #dddddd;
    margin: 5px; }
  .sights-menu-part i {
    margin: 0 20px;
    cursor: pointer;
    transition: color .3s; }
    .sights-menu-part i.fas.fa-chevron-left {
      transition: all .4s;
      font-size: 25px;
      color: lightgray; }
      .sights-menu-part i.fas.fa-chevron-left:hover {
        color: #2ABFBD; }
      .sights-menu-part i.fas.fa-chevron-left[type='out'] {
        color: #2ABFBD;
        transform: rotate(180deg); }
    .sights-menu-part i:hover, .sights-menu-part i:active {
      color: #2ABFBD; }

.card-part {
  height: fit-content;
  padding: 0 25.75px 0 25.75px;
  flex-flow: wrap;
  overflow: auto; }
  .card-part::-webkit-scrollbar {
    width: 0; }
  .card-part.list .card-cover-cell {
    width: 100%; }
  .card-part[type='lines'] .card-cover-cell {
    width: 100%; }

.travellers-title-part {
  height: 100px;
  white-space: nowrap;
  padding: 0 55px;
  line-height: 100px;
  font-size: 20px;
  color: #b2b2b2;
  font-weight: bold; }

.travellers-part {
  height: calc(100% - 100px - 150px);
  flex-flow: wrap;
  overflow: auto; }
  .travellers-part::-webkit-scrollbar {
    width: 0; }

.travellers-input-part {
  width: 100%;
  height: 150px;
  background: white; }
  .travellers-input-part input {
    border: none;
    outline: none;
    width: 200px;
    height: 30px; }
    .travellers-input-part input::placeholder {
      font-size: 18px;
      color: #898989; }
  .travellers-input-part i {
    color: lightgray; }

.destination-title-cell {
  position: absolute;
  bottom: 30px;
  left: 45px;
  color: white;
  font-size: 15px;
  font-weight: bold; }
  .destination-title-cell .title {
    margin: 0 10px; }
  .destination-title-cell i {
    font-size: 20px; }

.text-cell.bold {
  font-weight: bold; }

.subject-cell .subject {
  margin: 0 25.75px;
  cursor: pointer;
  font-weight: bold;
  transition: color .3s; }
  .subject-cell .subject:hover {
    color: #2ABFBD; }

.card-cover-cell {
  width: calc(300px + 25.75px * 2);
  height: calc(250px + 25.75px * 2);
  padding: 0 25.75px 51.5px 25.75px; }

.sights-card-cell {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 3px 5px 0 lightgray; }
  .sights-card-cell:hover .sights-content-div i {
    font-weight: bold; }
  .sights-card-cell:hover .sights-content-div .content .text {
    text-decoration: underline;
    cursor: pointer; }
  .sights-card-cell:hover .sights-photo {
    transform: scale(1.05); }
  .sights-card-cell .sights-content-div {
    height: calc(100% - 180px);
    padding: 20px;
    color: gray; }
    .sights-card-cell .sights-content-div .content .text {
      font-size: 10px; }
      .sights-card-cell .sights-content-div .content .text.bold {
        font-size: 15px;
        font-weight: bold; }
    .sights-card-cell .sights-content-div i {
      cursor: pointer;
      font-size: 13px;
      color: #2ABFBD; }
  .sights-card-cell .sights-photo-div {
    width: 100%;
    height: 180px;
    background: #EEEEEE;
    overflow: hidden;
    cursor: pointer;
    position: relative; }
    .sights-card-cell .sights-photo-div .sights-photo {
      height: 100%;
      background: url("/images/cory.jpg");
      background-position: center !important;
      background-size: cover !important;
      transition: all .3s; }
      .sights-card-cell .sights-photo-div .sights-photo.petersburg2 {
        background: url("/images/petersburg2.jpg"); }
      .sights-card-cell .sights-photo-div .sights-photo.petersburg3 {
        background: url("/images/petersburg3.jpg"); }
      .sights-card-cell .sights-photo-div .sights-photo.petersburg4 {
        background: url("/images/petersburg4.jpg"); }
      .sights-card-cell .sights-photo-div .sights-photo.petersburg5 {
        background: url("/images/petersburg5.jpg"); }
      .sights-card-cell .sights-photo-div .sights-photo.petersburg6 {
        background: url("/images/petersburg6.jpg"); }
    .sights-card-cell .sights-photo-div .profile-photo {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid white;
      position: absolute;
      top: 15px;
      right: 20px;
      background: url("/images/jan.jpg");
      background-size: cover; }

.travellers-cell {
  width: 100%;
  padding: 10px 50px;
  transition: background .3s; }
  .travellers-cell .photo-div {
    width: 35px;
    height: 35px; }
    .travellers-cell .photo-div .travellers-photo {
      height: 100%;
      border-radius: 50%;
      background: url("/images/jeremy.jpg");
      background-size: cover !important;
      border: none; }
      .travellers-cell .photo-div .travellers-photo.kimberly {
        background: url("/images/kimberly.jpg"); }
      .travellers-cell .photo-div .travellers-photo.chi {
        background: url("/images/chi.jpg"); }
      .travellers-cell .photo-div .travellers-photo.karan {
        background: url("/images/karan.jpg"); }
      .travellers-cell .photo-div .travellers-photo.keeri {
        background: url("/images/keeri.jpg"); }
      .travellers-cell .photo-div .travellers-photo.katy {
        background: url("/images/katy.jpg"); }
      .travellers-cell .photo-div .travellers-photo.jeff {
        background: url("/images/jeff.jpg"); }
      .travellers-cell .photo-div .travellers-photo.peter {
        background: url("/images/peter.jpg"); }
  .travellers-cell .travellers-name-div {
    font-size: 15px;
    padding-left: 15px;
    color: #b2b2b2;
    transition: color .3s; }
  .travellers-cell .online-div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background: #2ABFBD; }
    .travellers-cell .online-div.online {
      background: #D9352A; }
  .travellers-cell:hover {
    background: rgba(42, 191, 189, 0.4); }
    .travellers-cell:hover .travellers-name-div {
      color: white; }

.travellers-input-cover-cell {
  width: fit-content;
  height: fit-content;
  border-bottom: 2px solid #DEDFDF;
  transition: border-bottom-color .4s; }
  .travellers-input-cover-cell:hover {
    border-bottom: 2px solid #2ABFBD; }
    .travellers-input-cover-cell:hover i {
      color: #2ABFBD; }
  .travellers-input-cover-cell i {
    transition: color .4s; }

.flex {
  display: flex; }

.flex-1 {
  flex: 1; }

.align-center {
  align-items: center;
  justify-content: center; }

.relative {
  position: relative; }

/*# sourceMappingURL=velo.css.map */